<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
</head>
<body bgcolor="red">
    {% extends "mainHTML.html" %}
    {% block content %}
    {% comment %} <h1>Login</h1> {% endcomment %}
    {% comment %} position-absolute top-50 start-50 translate-middle {% endcomment %}
    {% for msg in messages %}
    <div class="alert alert-danger alert-dismissible face show" role="alert">
        <strong>Warning!!! </strong> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card p-4" style="width:22rem">
            <div class="card-body d-flex flex-column justify-content-center">
                <h1 class="card-title text-center mb-4">LOGIN</h1>
                <form action="{% url 'loginMethod' %}" method="POST">
                {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="form12" placeholder="Enter your Username" name="username">
                        <label for="form12">Username</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="form12" placeholder="Enter your password" name="password">
                        <label for="form12">Password</label>
                    </div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
                </form>
                <p class="text-center mt-2">Join with us? <a href="/register/">Register</a></p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>