<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
</head>
<body bgcolor="red">
    {% extends "mainHTML.html" %}
    {% block content %}
    <h1>Product</h1>
    <hr />
    <div class="p-2">
        {% for data in contentHouse %}
        <div class="row border shadow-sm mb-1 py-3 px-5 d-flex">
            <div class="col-3"><img src="{{data.photo_house.url}}" class="w-100"></div>
            <div class="col-1"></div>
            <div class="col-8 p-1 d-flex flex-column">
                <h3 class="mb-4">{{data.name_house}}</h3>
                <div>{{data.detail_house}}</div>
                <div class="mt-auto">
                <hr>
                <div class="d-flex flex-row-reverse">
                    <div class="btn btn-primary rounded-pill">{{data.price_house}} BATH</div>
                </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>